<!doctype html>

<html>

    <head><title>Write a new Article</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <style>
        @import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Raleway|Libre+Barcode+39+Text');
        body,html{
            width:100%;
            height:100%;
        }
    .jumbotron{
        background-color: #FF0033 !important;
        color:white;
        height:60%
    }
    span{
        font-family: 'Libre Barcode 39 Text', cursive !important;
    }
    
    </style>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Welcome To </h1>
            <br>
            <span><h1>NewView</h1></span>
            <h3>Write a article!</h3>
            <p>Write an article about anything,{{ request.user.username }} Literally anything. </p>
        </div>
        <center>
            <h2>From Your Subscriptions</h2>
            {%for i in article%}
            <h4><a href="/{{i.id}}">{{i}}</a></h4>
            by:{{i.author}}<br>
            
            {%endfor%}
    
        </center>
            
    </body>
</htmL>